:root{
    --main-blue-color: #0087af;
    --main-bgc-color: #0087af;
    --main-text-color: #FFF;
    --main-link-color: #00c4ff;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: "attika";
    src: url("font/Attika/AttikaGX.ttf") format("truetype");
}

body{
    margin: 0;
    font-family: "attika";
    color: var(--main-text-color);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: var(--main-bgc-color);
    height: 18%;
    padding-top: 6%;
}

img{
    width: 30%;
}

h1{
    font-size: 10em;
    margin: 0;
    position: relative;
    color: var(--main-link-color);
    text-shadow: 0 4px 0 #00ecff, 0 -4px 0 #ff4045;
}

h1:before{
    content: "OrinoToy";
    position: absolute;
    color: var(--main-blue-color);
    transform: translateY(10px) translateX(-15px);
}

h1:after{
    content: "OrinoToy";
    position: absolute;
    /*    color: #00ff00;*/
    color: var(--main-text-color);
    left: 15px;

}

h2{
    font-size: 2em;
    margin: 0;
    color: #000000;
}

/*MENU BURGER*/

.cercle{
    /*    background-image:url(/img/teddy-bear.svg);*/
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.cercle.active{
    transform: scale(.5);
}
.burger{
    width: 80px;
    height: 96px;
    cursor: pointer;
    position: relative;
}

.burger span{
    width: 100%;
    height: 12px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.burger span::before, .burger span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #000;
    -webkit-transition: transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}

.burger span::before{
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-17px);
}

.burger span::after{
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(17px);
}

.burger.active span{
    background-color: transparent;
}

.burger.active span::before{
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg) scale(.9);
}

.burger.active span::after{
    -webkit-transform: translateY(0px) rotateZ(-45deg);
    -ms-transform: translateY(0px) rotateZ(-45deg);
    -o-transform: translateY(0px) rotateZ(-45deg);
    transform: translateY(0px) rotateZ(-45deg) scale(.9);
}

/*MENU*/

.menug{
    opacity: 0;
    list-style: none;
    margin-top: 5%;
    padding: 0;
    -webkit-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

.menug.active{
    opacity: 1;
}

.menug li{
    font-size: 2.3em;
    display: inline-block;
    border-right: 2px solid var(--main-link-color);
    padding-left: 2vh;
    padding-right: 1vh;

}

.menug li:first-child{
    border-left: 2px solid var(--main-link-color);
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: var(--main-text-color);
}

nav a:hover{
    color: #00c4ff;

}

/*CLOUDS*/

.center{
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.center2{
    position: absolute;
    left: 50%;
}

.cloud{
    position: relative;
    width: 300px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2),
        -10px -10px rgba(0, 0, 0, .2);
    animation: move 8s linear infinite;
}

.cloud:before{
    content: "";
    position: absolute;
    top: -50px;
    left: 45px;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:-10px -10px rgba(0, 0, 0, .2);
}

.cloud:after{
    content: "";
    position: absolute;
    top: -75px;
    right: 40px;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px -10px rgba(0, 0, 0, .2);
}

@keyframes move{
    0%{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
    50%{
        -webkit-transform: translate(50px);
        -ms-transform: translate(50px);
        -o-transform: translate(50px);
        transform: translate(50px);
    }
    100%{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

/*PARRALLAX EFFECT*/
.parrallax{
    background-image: url(/img/teddy_1.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/*SCROLL DOWN 1st TEDDY*/
a#scrolldown{
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: #FFF;
    background:rgba(0, 0, 0, 0.25);
    opacity: 1;
    z-index: 99999;
    transition: all ease-in .2s;
    backface-visibility: hidden;
    text-decoration: none;
    margin-top: 1vw;
}

a#scrolldown:before{
    content: "\25bc";
}

a#scrolldown:hover{
    background: rgba(0, 0, 0, 1);
    transition: all ease-in .2s;
}

a#scrolldown.scrolldown-invisible{
    opacity: 1;
    transition: all ease-in .5s;
}

a#scrolldown.scrolldownVisible{
    bottom: 20px;
    opacity: 0;
}

.text{
    background-color: var(--main-bgc-color);
    height: 1000px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parrallax2{
    background-image: url(/img/teddy_2.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text2{
    background-color: var(--main-link-color);
    height: 100px;
    font-size: 3em;
}

.parrallax3{
    background-image: url(/img/teddy_3.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parrallax4{
    background-image: url(/img/teddy_4.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parrallax5{
    background-image: url(/img/teddy_5.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*FOOTER*/

footer{
    height: 10vh;
    background-color: var(--main-bgc-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#terms-of-use{
    padding: 0;
}
#terms-of-use ul{
    color: var(main-text-color);
}
#terms-of-use li{
    display: inline;
    font-size: 1.8em;
    padding-left: 1vh;
    padding-right: 1vh;
}

#terms-of-use a{
    color: var(--main-text-color);
    text-decoration: none;
}

#terms-of-use a:hover{
    color: var(--main-link-color);
    color: var(--main-link-color);
}
