@font-face{
    font-family: "attika";
    src: url("/font/Attika/AttikaGX.ttf") format("truetype");
}

:root{
    --main-blue-color: #0087af;
    --main-bgc-color: #0087af;
    --main-text-color: #FFF;
    --main-link-color: #00c4ff;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    /* font-family: "attika"; */
    color: var(--main-text-color);
    background-color: rgba(0, 0, 0, 0.025);
    max-width: 100vw;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: var(--main-bgc-color);
}

img{
    width: 50%;
    margin-top: 5vh;
}

#back{
    width: 50%;
    margin-top: 5vh;
}

h1{
    font-size: 5em;
    margin: 0;
    position: relative;
    color: var(--main-link-color);
    text-shadow: 0 2px 0 #00ecff, 0 -2px 0 #ff4045;
}

h1:before{
    content: "OrinoToy";
    position: absolute;
    color: var(--main-blue-color);
    transform: translateY(5px) translateX(-7.5px);
}

h1:after{
    content: "OrinoToy";
    position: absolute;
    /*    color: #00ff00;*/
    color: var(--main-text-color);
    left: 7.5px;

}

h2{
    font-size: 1em;
    margin: 0;
    color: #000000;
}

#welcomeText{
    padding: 0 1vh;
}

/*MENU BURGER*/

.cercle{
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
    position: absolute;
    top: 1vh;
    right: 2vh;
}

.cercle.active{
    transform: scale(.6);
}
.burger{
    width: 60px;
    height: 28px;
    cursor: pointer;
    position: relative;
}

.burger span{
    width: 100%;
    height: 10px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.burger span::before, .burger span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #000;
    -webkit-transition: transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}

.burger span::before{
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}

.burger span::after{
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

.burger.active span{
    background-color: transparent;
}

.burger.active span::before{
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg) scale(.8);
}

.burger.active span::after{
    -webkit-transform: translateY(0px) rotateZ(-45deg);
    -ms-transform: translateY(0px) rotateZ(-45deg);
    -o-transform: translateY(0px) rotateZ(-45deg);
    transform: translateY(0px) rotateZ(-45deg) scale(.8);
}

/*MENU*/

.menug{
    display: none;
    list-style: none;
    padding: 0;
}

.menug.active{
    display: initial;
}

.menug li{
    font-size: .9em;
    display: inline-block;
    padding-left: 1vh;
    padding-right: 1vh;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: var(--main-text-color);
}

nav a:hover{
    color: #00c4ff;
}

#collection{
    text-align: left;
}

/*TEDDIES COLLECTION LINKS*/
#collection ul{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#collection-name li{
    font-size: .9em;
    transform: translateX(-35%);
    width: 100%;
    display: inline;
}

#collection-name{
    padding: 0;
    width: 100%;
    text-align: center;
}

/*CLOUDS*/

.center{
    position: absolute;
    top: 115%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.center2{
    position: absolute;
    left: 40%;
}

.center3{
    position: absolute;
    top: 235%;
    left: 22%;
    transform: translate(-50%, -50%);
}

#center4{
    position: absolute;
    left: 35%;
    top: 210vh;
}

.center7{
    position: absolute;
    left: 5%;
    top: 420vh;
}

.center-lenny{
    position: absolute;
    top: 330%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.center-garfunkel{
    position: absolute;
    top: 485%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.cloud{
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px rgba(0, 0, 0, .2);
    animation: move 8s linear infinite;
    animation-delay: 1.5s;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    top: 5vh;
}

#center-mouse{
    position: absolute;
    left: 17.5%;
    top: 21vh;
}

.cloud-mouse{
    position: relative;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2),
        -2px -2px rgba(0, 0, 0, .2);
    animation: move 8s linear infinite;
    animation-delay: .25s;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    top: 30px;
    left: -20vh;
}

.cloud-mouse:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 9px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow:-1px -1px rgba(0, 0, 0, .2);
    z-index: -1;
}

.cloud-mouse:after{
    content: "";
    position: absolute;
    top: -15px;
    right: 8px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px -1px rgba(0, 0, 0, .2);
    z-index: -1;
}


.cloud a{
    font-size: 1.4em;
    color: #000;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    padding: 1em;
}

.cloud:hover{
    transform: scale(2);
    transition: transform 3s;
}

.cloud:before{
    content: "";
    position: absolute;
    top: -25px;
    left: 22.5px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:-5px -5px rgba(0, 0, 0, .2);
    z-index: -1;
}

.cloud:after{
    content: "";
    position: absolute;
    top: -37.5px;
    right: 20px;
    background-color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 5px -5px rgba(0, 0, 0, .2);
    z-index: -1;
}

.cloud2{
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2),
        -5px -5px rgba(0, 0, 0, .2);
    animation: move 8s linear infinite;
    animation-delay: .5s;
}

.cloud2:before{
    content: "";
    position: absolute;
    top: -25px;
    left: 22.5px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:-5px -5px rgba(0, 0, 0, .2);
}

.cloud2:after{
    content: "";
    position: absolute;
    top: -37.5px;
    right: 20px;
    background-color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 5px -5px rgba(0, 0, 0, .2);
}

@keyframes move{
    0%{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
    50%{
        -webkit-transform: translate(50px);
        -ms-transform: translate(50px);
        -o-transform: translate(50px);
        transform: translate(50px);
    }
    100%{
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

/*PARRALLAX EFFECT*/
.parrallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/*SCROLL DOWN 1st TEDDY*/
a#scrolldown{
    position: fixed;
    padding: 1Opx;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    color: #FFF;
    background:rgba(0, 0, 0, 0.25);
    opacity: 1;
    z-index: 99999;
    transition: all ease-in .2s;
    backface-visibility: hidden;
    text-decoration: none;
    margin-top: 1vw;
}

a#scrolldown:before{
    content: "\25bc";
}

a#scrolldown:hover{
    background: rgba(0, 0, 0, 1);
    transition: all ease-in .2s;
}

a#scrolldown.scrolldownInvisible{
    opacity: 0;
    transition: all ease-in .5s;
}

a#scrolldown.scrolldownVisible{
    opacity: 1;

}

.textVisible{
    background-color: var(--main-bgc-color);
    /* height: 20vh; */
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#down.textVisible{
    opacity: 1;
}

#down.textInvisible{
    opacity: 0;
    transition: all ease-in .3s;
    
}

/*FOOTER*/

footer{
    background-color: var(--main-bgc-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#terms-of-use{
    padding: 0;
}
#terms-of-use ul{
    color: var(main-text-color);
}
#terms-of-use li{
    display: inline;
    font-size: .7em;
    padding-left: 1vh;
    padding-right: 1vh;
}

#terms-of-use a{
    color: var(--main-text-color);
    text-decoration: none;
}

#terms-of-use a:hover{
    color: var(--main-link-color);
    color: var(--main-link-color);
}

/*SCROLLTOTOP*/
a#scrolltotop{
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    color: #FFF;
    background:rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 10px;
    opacity: 1;
    z-index: 99999;
    transition: all ease-in .2s;
    backface-visibility: hidden;
    text-decoration: none;
}

a#scrolltotop:before{
    content: "\25b2";
}

a#scrolltotop:hover{
    background: rgba(0, 0, 0, 1);
    transition: all ease-in .2s;
}
/* corriger la hauteur du bottom */
a#scrolltotop.scrolltotopInvisible{
    bottom: -35px;
    opacity: 0;
    transition: all ease-in .5s;
}

a#scrolltotop.scrolltotopVisible{
    bottom: 75px;
    opacity: 1;
}

#info
{
    display: none;
/*    background-color: var(--main-blue-color);*/
}

#collection_scrolldown{
    text-align: center;
}

#collection_layout{
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: center;
    /* align-items: center; */
    margin: 3vh 1vh 20vh 1vh;    
}

#collection_teddy_img{
    font-size: 2em;
}


#collection_teddy_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#collection_teddy_img img{
    width: 95%;
    margin: 0;
}

#collection_teddy_img h3{
    color: #000;
    font-size: 2em;
}

#collection_teddy_description{
    display: flex;
    width: 70%;
}

#collection_teddy_information h3{
    margin-bottom: 0;
}

#collection_teddy_information{
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

label{
    color: #000;
}

.add{
    position: relative;
    width: 75px;
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.2),
        -2.5px -2.5px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    top: 5vh;
    z-index: 0;
}

.add:before{
    content: "";
    position: absolute;
    top: -12.5px;
    left: 11.25px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow:-2.5px -2.5px rgba(0, 0, 0, .2);
    z-index: -1;
}

.add:after{
    content: "";
    position: absolute;
    top: -18.75px;
    right: 10px;
    background-color: #fff;
    width: 37.5px;
    height: 37.5px;
    border-radius: 50%;
    box-shadow: 2.5px -2.5px rgba(0, 0, 0, .2);
    z-index: -1;
}

.add:hover {
    background-color: rgba(255, 0, 0, 1);
}

.add:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#cart-container{
    height: 10vh;
    color: black;
    margin: 2vh 2vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#order td, #order{
    border: 1px black solid;
}

.orderQuantityPlus{
    border: 1px black solid;
    height: 2vh;
    width: 2vh;
    margin-left: 1vh;
    color: black;
}

.orderQuantityMinus{
    border: 1px black solid;
    height: 2vh;
    width: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: black;
}

button.text{
    color: black;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

    img{
        width: 30%;
    }

    .menug li{
        font-size: 1.2em;
    }

    #terms-of-use li{
        font-size: 1em;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    img{
        width: 25%;
    }

    .center2{
        left: 50%;
    }

    .cercle{
        display: none;
    }

    .menug{
        display: initial;
    }

    #collection-name{
        margin-top: .2vh;
    }

    .menug > li:nth-child(4), .menug > li:nth-child(3){
        position: fixed;
        top: 1vh;
        padding: 0;
    }

    .menug > li:nth-child(4){
        right: 7vh;
    }

    .menug > li:nth-child(3){
        right: 2vh;
    }

    /* .menug li:nth-child(3) a{
        color: transparent;
    } */

    .menug li:nth-child(3) i{
        color: #ffffff;
        font-size: 1.5em;
        padding-right: 1vh;        
    }

    #welcomeText{
        margin-top: 2vh;
    }
    
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    img{
        width:20%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
          
@media (min-width: 1200px) {

    img{
        width:15%;
    }

}






